<div class="question-container">
<h1><%= @question.title%></h1>

<p>
  <%= @question.body %>
</p>

<div id="author">
  <%= @question.asker.username %>
</div>

<div class="comments">
<a href = "/comments/new">Add Comment</a>
</div>
</div>

<div class="answer-container">
<h2> <%= @question.count_answers %> Y'answers </h2>

 <% @question.answers.each do |answer| %>
    <%= answer.body %>
    <%= answer.author.username %>
    <!-- erb :_vote vote partial here-->
  <% end %>


<h2> Your Answer </h2>
  <form action="/answer" method="post">
    <input type="hidden" value="<%=@question.id%>" name="question_id">
    <textarea name="body"></textarea>
    <input type="submit" value="Yak it up">
  </form>
</div>
