  <link rel="stylesheet" href="/css/ind_questions.css">


<div class="question-container">

  <h1><%= @question.title%></h1>
  <% if @question.asker_id == session[:user_id] %>
  <a href="/questions/<%= @question.id %>/edit">edit</a>
  <% end %>
  <p>
    <%= @question.body %>
  </p>
  <div class='vote_buttons'>
    <form action="/questions/<%=@question.id%>/upvote" method="post" class="upvote">
      <input type="submit" value="Upyak"></input>
    </form>
    <p class="total"><%= @question.vote_count %></p>
    <form action="/questions/<%=@question.id%>/downvote" method="post" class="downvote">
      <input type="submit" value="Downyak"></input>
    </form>
  </div>

  <div id="author">
    <%= @question.asker.username %>
  </div>

  <div class="comments">
    <% @question.comments.each do |comment| %>
    <%= erb :'partials/_comment', locals: {comment: comment} %>
    <% end %>
    <a href = "/question/<%=@question.id%>/comment/new">Add Comment</a>
  </div>
</div>

<div class="answer-container">
  <h2> <%= @question.count_answers %> Y'answers </h2>

  <% @question.answers.each do |answer| %>

  <div class="vote_buttons">
    <a href="/answer/<%=answer.id%>/upvote">UP</a>
    <%= answer.vote_count %>
    <a href="/answer/<%=answer.id%>/downvote">DOWN</a>
  </div>

  <%= answer.body %>
  <%= answer.author.username %>
  <div class="comments">
    <% answer.comments.each do |comment| %>
    <%= erb :'partials/_comment', locals: {comment: comment} %>
    <% end %>
    <a href = "/answer/<%=answer.id%>/comment/new">Add Comment</a>
  </div>
  <% end %>


  <h2> Your Answer </h2>
  <form action="/answer" method="post">
    <input type="hidden" value="<%=@question.id%>" name="question_id">
    <textarea name="body"></textarea>
    <input type="submit" value="Yak it up">
  </form>

</div>
