<div>
  <%= question.answers.count %>
  <%= question.votes.count %>
  <a href=<%="/questions/#{question.id}"%> >
    <%= question.title %>
  </a>
  <a href=<%="/users/#{question.asker_id}"%> > <%= question.asker_id %>
  </a>
</div>
