
<div class = "questions">
  <div class="info">
    <%= question.answers.count %>
    <br>
    <span>Answers</span>
  </div>
  <div class="info">
    <%= question.votes.count %>
    <br>
    <span>Votes</span>
  </div>
  <div class="title"><a href="/questions/<%= question.id %>">
    <%= question.title %></a>
  </div>
  <br>
  <div id="username"><a href=<%="/users/#{question.asker_id}"%> > <%= question.asker.username %>
  </a>
</div>

</div>
