<div class="vote_buttons">
  <form action="/answers/<%=answer.id%>/upvote" method="post" class="aupvote">
    <input type="hidden" name="question_id" value="<%= @question.id %>"></input>
    <button class='carrot' type="submit" value="Upyak"><img src='/img/up_carrot.png'></button>
  </form>
  <p class="total"><%= answer.vote_count %></p>
  <form action="/answers/<%=answer.id%>/downvote" method="post" class="adownvote">
    <input type="hidden" name="question_id" value="<%= @question.id %>"></input>
    <button class='carrot' type="submit" value="Downyak"><img src='/img/down_carrot.png'></button class='carrot'>
  </form>
</div>

<p id="answer-text"><%= answer.body %></p>
<p id="author"><%= answer.author.username %></p>
